.gradle/
build/
app/build/

.kotlin/

docs/

.idea/
*.iml
*.iws
*.ipr
captures/

local.properties

*-logcat.txt
*-focus-log.txt
*-dump.txt

.DS_Store
Thumbs.db

*.apk
*.aab
*.ap_
*.dex

*.jks
*.keystore
